
.Formulario-Principal-Container{
    background-color: rgb(14, 97, 2);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    /* width: 19rem;
    border-radius: 10px 10px 10px 10px; */
}

        .formulario-titulo{

            /* font-size: 15px;
            padding: 0.5rem; */
        }

        .formulario-subtitulo{
            background-color: rgb(84, 130, 53, 0.8);
            text-align: center;

            /* font-size: 14px;
            padding: 0.5rem; */
        }

        .formulario-obligatorios-opcionales-container{
            /* background-color: rgb(62, 153, 232); */
            text-align: start;

            /* font-size: 14px;
            width: 12rem;
            padding: 0.5rem; */
        }

                .camposObligatorios{
                    color: red;
                    display: flex;
                    align-items: center;
                    align-self: center;
                }

                .camposOpcionales{
                    display: flex;
                    align-items: center;
                    align-self: center;
                }

        .formulario-subcontainer{
            /* background-color: rgb(152, 239, 239); */
            display: flex;
            flex-direction: column;
            align-items: center;
            
            /* gap: 1rem;
            padding-bottom: 1rem;
            font-size: 14px;
            width: 16rem; */
        }

                .escribir-datos-container{
                    /* background-color: rgb(228, 228, 87); */
                    display: flex;
                    align-items: center;

                    /* width: 16rem; */
                }

                    .titulo-input{
                        /* background-color: rgb(56, 216, 163); */
                        display: flex;
                        flex-direction: row;
                    }

                        .formulario-label{
                            /* background-color: rgb(115, 89, 49); */
                            text-align: left;

                            /* width: 4rem; */
                        }

                        .formulario-label-area{
                            /* background-color: rgb(71, 102, 102); */
                            text-align: left;

                            /* width: 11rem; */
                        }

                        .formulario-dos-puntos{
                            /* background-color: rgb(178, 122, 230); */
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            /* width: 0.5rem; */
                        }

                    .input-container{
                        /* background-color: rgb(239, 217, 117); */
                        display: flex;
                        flex-direction: row;

                        /* gap: 0.2rem; */
                    }

                            .in-put{
                                /* padding: 5px;
                                border-radius: 8px; 
                                width: 9rem; */
                            }

                            .in-put-area{
                                /* width: 2rem; */
                            }

                            .obligatorio{                               
                            }

                            .opcional{                           
                            }

                    .btn-submit{
                        all: unset;
                        cursor: pointer;
                        background-color: rgba(5, 93, 217);
                        display: flex;
                        align-items: center;
                        align-self: center;
                        text-align: center;
                        justify-content: center;

                        /* width: 4rem;
                        padding: 0.5rem;
                        border-radius: 8px;*/
                        /* border: 2px solid rgb(2, 49, 116); */
                    }

                    .btn-submit:hover {
                        background-color: rgb(2, 57, 133);
                    }




/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {
  
.Formulario-Principal-Container{ 
    width: 19rem;
    border-radius: 10px 10px 10px 10px;
}

        .formulario-titulo{
            font-size: 15px;
            padding: 0.5rem;
        }

        .formulario-subtitulo{
            font-size: 14px;
            padding: 0.5rem;
        }

        .formulario-obligatorios-opcionales-container{
            font-size: 14px;
            width: 12rem;
            padding: 0.5rem;
        }

                .camposObligatorios{
                }

                .camposOpcionales{
                }

        .formulario-subcontainer{ 
            gap: 1rem;
            padding-bottom: 1rem;
            font-size: 14px;
            width: 16rem;
        }

                .escribir-datos-container{
                    width: 16rem;
                }

                    .titulo-input{
                    }

                        .formulario-label{
                            width: 4rem;
                        }

                        .formulario-label-area{
                            width: 10.5rem;
                        }

                        .formulario-dos-puntos{
                            width: 0.5rem;
                        }

                    .input-container{
                        gap: 0.2rem;
                    }

                            .in-put{
                                padding: 5px;
                                border-radius: 8px; 
                                width: 9rem;
                            }

                            .in-put-area{
                                width: 2.5rem;
                            }

                            .obligatorio{
                                border: 2px solid red;;
                            }

                            .opcional{
                                border: 2px solid rgb(255, 255, 255);
                            }

                    .btn-submit{
                        width: 4rem;
                        padding: 0.5rem;
                        border-radius: 8px;
                        border: 3px solid rgb(2, 49, 116);
                    }

                    .btn-submit:hover {
                    }   

}


/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {

.Formulario-Principal-Container{ 
    width: 25rem;
    border-radius: 10px 10px 10px 10px;
}

        .formulario-titulo{
            font-size: 18px;
            padding: 0.6rem;
        }

        .formulario-subtitulo{
            font-size: 17px;
            padding: 0.6rem;
        }

        .formulario-obligatorios-opcionales-container{
            font-size: 17px;
            width: 16rem;
            padding: 0.6rem;
        }

                .camposObligatorios{
                }

                .camposOpcionales{
                }

        .formulario-subcontainer{ 
            gap: 1rem;
            padding-bottom: 1rem;
            font-size: 17px;
            width: 20rem;
            /* background-color: azure; */
        }

                .escribir-datos-container{
                    width: 20rem;
                }

                    .titulo-input{
                    }

                        .formulario-label{
                            width: 5.5rem;
                        }

                        .formulario-label-area{
                            width: 12.5rem;
                        }

                        .formulario-dos-puntos{
                            width: 0.6rem;
                        }

                    .input-container{
                        gap: 0.2rem;
                    }

                            .in-put{
                                padding: 6px;
                                border-radius: 8px; 
                                width: 11rem;
                            }

                            .in-put-area{
                                width: 4rem;
                            }

                            .obligatorio{
                                border: 2px solid red;;
                            }

                            .opcional{
                                border: 2px solid rgb(255, 255, 255);
                            }

                    .btn-submit{
                        width: 5rem;
                        padding: 0.5rem;
                        border-radius: 8px;
                        border: 3px solid rgb(2, 49, 116);
                    }

                    .btn-submit:hover {
                    }   

}


/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

.Formulario-Principal-Container{ 
    width: 40rem;
    border-radius: 15px 15px 15px 15px;
}

        .formulario-titulo{
            font-size: 21px;
            padding: 1rem;
        }

        .formulario-subtitulo{
            font-size: 20px;
            width: 40rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .formulario-obligatorios-opcionales-container{
            font-size: 20px;
            width: 25rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

                .camposObligatorios{
                }

                .camposOpcionales{
                }

        .formulario-subcontainer{ 
            gap: 1.5rem;
            padding-bottom: 1rem;
            font-size: 20px;
            width: 25rem;
            /* background-color: azure; */
        }

                .escribir-datos-container{
                    width: 25rem;
                }

                    .titulo-input{
                    }

                        .formulario-label{
                            width: 6rem;
                        }

                        .formulario-label-area{
                            width: 15rem;
                        }

                        .formulario-dos-puntos{
                            width: 1rem;
                        }

                    .input-container{
                        gap: 0.2rem;
                    }

                            .in-put{
                                padding: 6px;
                                border-radius: 8px; 
                                width: 13rem;
                            }

                            .in-put-area{
                                width: 4rem;
                            }

                            .obligatorio{
                                border: 3px solid red;;
                            }

                            .opcional{
                                border: 3px solid rgb(255, 255, 255);
                            }

                    .btn-submit{
                        width: 6rem;
                        padding: 0.5rem;
                        border-radius: 8px;
                        border: 4px solid rgb(2, 49, 116);
                    }

                    .btn-submit:hover {
                    }   

}


/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

.Formulario-Principal-Container{ 
    width: 55rem;
    border-radius: 18px 18px 18px 18px;
}

        .formulario-titulo{
            font-size: 24px;
            padding: 1rem;
        }

        .formulario-subtitulo{
            font-size: 23px;
            width: 55rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .formulario-obligatorios-opcionales-container{
            font-size: 23px;
            width: 35rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

                .camposObligatorios{
                }

                .camposOpcionales{
                }

        .formulario-subcontainer{ 
            gap: 1.5rem;
            padding-bottom: 1rem;
            font-size: 23px;
            width: 35rem;
            /* background-color: azure; */
        }

                .escribir-datos-container{
                    width: 35rem;
                }

                    .titulo-input{
                    }

                        .formulario-label{
                            width: 8rem;
                        }

                        .formulario-label-area{
                            width: 20rem;
                        }

                        .formulario-dos-puntos{
                            width: 1.5rem;
                        }

                    .input-container{
                        gap: 0.2rem;
                    }

                            .in-put{
                                padding: 10px;
                                border-radius: 8px; 
                                width: 20rem;
                            }

                            .in-put-area{
                                width: 8rem;
                            }

                            .obligatorio{
                                border: 3px solid red;;
                            }

                            .opcional{
                                border: 3px solid rgb(255, 255, 255);
                            }

                    .btn-submit{
                        width: 7rem;
                        padding: 1rem;
                        border-radius: 8px;
                        border: 4px solid rgb(2, 49, 116);
                    }

                    .btn-submit:hover {
                    }   

}


/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

.Formulario-Principal-Container{ 
    width: 65rem;
    border-radius: 20px 20px 20px 20px;
}

        .formulario-titulo{
            font-size: 27px;
            padding: 1.2rem;
        }

        .formulario-subtitulo{
            font-size: 26px;
            width: 65rem;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }

        .formulario-obligatorios-opcionales-container{
            font-size: 26px;
            width: 45rem;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }

                .camposObligatorios{
                }

                .camposOpcionales{
                }

        .formulario-subcontainer{ 
            gap: 2rem;
            padding-bottom: 1.5rem;
            font-size: 26px;
            width: 45rem;
            /* background-color: azure; */
        }

                .escribir-datos-container{
                    width: 45rem;
                }

                    .titulo-input{
                    }

                        .formulario-label{
                            width: 10rem;
                        }

                        .formulario-label-area{
                            width: 23rem;
                        }

                        .formulario-dos-puntos{
                            width: 2.5rem;
                        }

                    .input-container{
                        gap: 0.2rem;
                    }

                            .in-put{
                                padding: 15px;
                                border-radius: 10px; 
                                width: 25rem;
                            }

                            .in-put-area{
                                width: 12rem;
                            }

                            .obligatorio{
                                border: 4px solid red;;
                            }

                            .opcional{
                                border: 4px solid rgb(255, 255, 255);
                            }

                    .btn-submit{
                        width: 8rem;
                        padding: 1rem;
                        border-radius: 15px;
                        border: 4px solid rgb(2, 49, 116);
                    }

                    .btn-submit:hover {
                    }   

}


/* Desktops Grandes */
@media only screen and (min-width: 1441px) {

.Formulario-Principal-Container{ 
    width: 75rem;
    border-radius: 25px 25px 25px 25px;
}

        .formulario-titulo{
            font-size: 30px;
            padding: 1.5rem;
        }

        .formulario-subtitulo{
            font-size: 29px;
            width: 75rem;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }

        .formulario-obligatorios-opcionales-container{
            font-size: 29px;
            width: 55rem;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }

                .camposObligatorios{
                }

                .camposOpcionales{
                }

        .formulario-subcontainer{ 
            gap: 2rem;
            padding-bottom: 2rem;
            font-size: 29px;
            width: 55rem;
            /* background-color: azure; */
        }

                .escribir-datos-container{
                    width: 45rem;
                }

                    .titulo-input{
                    }

                        .formulario-label{
                            width: 10rem;
                        }

                        .formulario-label-area{
                            width: 23rem;
                        }

                        .formulario-dos-puntos{
                            width: 2.5rem;
                        }

                    .input-container{
                        gap: 0.2rem;
                    }

                            .in-put{
                                padding: 15px;
                                border-radius: 10px; 
                                width: 25rem;
                            }

                            .in-put-area{
                                width: 12rem;
                            }

                            .obligatorio{
                                border: 4px solid red;;
                            }

                            .opcional{
                                border: 4px solid rgb(255, 255, 255);
                            }

                    .btn-submit{
                        width: 8rem;
                        padding: 1rem;
                        border-radius: 15px;
                        border: 4px solid rgb(2, 49, 116);
                    }

                    .btn-submit:hover {
                    }  

}