/* FooterFlotante.css */
.FloatingFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgba(241, 226, 40, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    transform: translateY(100%);
}