@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');




html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.App-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../src/imagenes/card_1_Inicio_imagenes/card_1_fondo_web.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
}








/* Móviles Pequeños */
@media only screen and (min-width: 350px) and (max-width: 480px) {

  .App-container {
      background-color: rgb(236, 179, 167);
      gap: 1rem;
  }

}


/* Móviles Medianos a Grandes */
@media only screen and (min-width: 481px) and (max-width: 767px) {

  .App-container {
      background-color: rgb(31, 183, 117);
      gap: 1.2rem;
  }

}


/* Tabletas Pequeñas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .App-container {
      background-color: rgb(12, 41, 137);
      gap: 1.5rem;
  }

}


/* Tabletas Grandes */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

  .App-container {
      background-color: rgb(174, 0, 255);
      gap: 1.8rem;
  }

}


/* Laptops y Desktops Pequeños */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {

  .App-container {
      background-color: rgb(255, 242, 0);
      gap: 2rem;
  }

}


/* Desktops Grandes */
@media only screen and (min-width: 1441px) {
  
  .App-container {
      gap: 2.5rem;
  }

}